In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("/workspaces/tir103/data-pipeline/resource/holding.csv", nrows=1000000)
df

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [5]:
df.head(20).tail()

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
15,2998623,2020/11/30,16,2021/01/08,1.46,1208147.0,1.778030e+08,QUALCOMM INC,74752510
16,2998623,2020/11/30,17,2021/01/08,1.43,1161825.0,1.735186e+08,GENERAL DYNAMICS CORP,36955010
17,2998623,2020/11/30,18,2021/01/08,1.39,5156744.0,1.684193e+08,CITIZENS FINANCIAL GROUP INC,17461010
18,2998623,2020/11/30,19,2021/01/08,1.36,165210387.0,1.652104e+08,Invesco Treasury Portfolio;Institutional,82525240
19,2998623,2020/11/30,20,2021/01/08,1.31,3420381.0,1.587741e+08,TRUIST FINANCIAL CORP,89832Q10

In [6]:
#看局部資料用slice
df[500:505]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
500,2998821,2020/11/30,3,2021/01/08,2.74,585810.0,47204569.80,ENCOMPASS HEALTH CORP,29261A10
501,2998821,2020/11/30,4,2021/01/08,2.73,1019787.0,46950993.48,JOHNSON CONTROLS INTL PLC,G5150210
502,2998821,2020/11/30,5,2021/01/08,2.71,1645462.0,46599483.84,TAPESTRY INC,87603010
503,2998821,2020/11/30,6,2021/01/08,2.60,883918.0,44726250.80,KIRBY CORP,49726610
504,2998821,2020/11/30,7,2021/01/08,2.57,988193.0,44271046.40,CIENA CORP,17177930

In [7]:
df.loc[[1,3,5,7],:]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
5,2998623,2020/11/30,6,2021/01/08,1.64,866386.0,1.997713e+08,GOLDMAN SACHS GROUP INC,38141G10
7,2998623,2020/11/30,8,2021/01/08,1.60,5045923.0,1.939653e+08,AMERICAN INTERNATIONAL GROUP INC,02687478

In [8]:
#透過loc取資料
df.loc[[1,3,5,7],"portno":"eff_dt"]

    portno   report_dt  security_rank      eff_dt
1  2998623  2020/11/30              2  2021/01/08
3  2998623  2020/11/30              4  2021/01/08
5  2998623  2020/11/30              6  2021/01/08
7  2998623  2020/11/30              8  2021/01/08

In [9]:
df.loc[[1,3,5,7],["portno","eff_dt"]]

    portno      eff_dt
1  2998623  2021/01/08
3  2998623  2021/01/08
5  2998623  2021/01/08
7  2998623  2021/01/08

In [11]:
df.loc[[1,3,5,7],["portno","eff_dt","security_rank"]]

    portno      eff_dt  security_rank
1  2998623  2021/01/08              2
3  2998623  2021/01/08              4
5  2998623  2021/01/08              6
7  2998623  2021/01/08              8

In [10]:
df.iloc[[1,3,5,7],[0,5,7]]

    portno  nbr_shares                     security_name
1  2998623   3087680.0    COGNIZANT TECHNOLOGY SOLS CORP
3  2998623   2815186.0   PHILIP MORRIS INTERNATIONAL INC
5  2998623    866386.0           GOLDMAN SACHS GROUP INC
7  2998623   5045923.0  AMERICAN INTERNATIONAL GROUP INC

In [12]:
df.columns

Index(['portno', 'report_dt', 'security_rank', 'eff_dt', 'percent_tna',
       'nbr_shares', 'market_val', 'security_name', 'cusip'],
      dtype='object')

In [13]:
df["security_rank"].dtype

dtype('int64')

In [14]:
df["portno"].unique()

array(['2998623', '2998638', '2998809', ..., '3092616', '3092619',
       '3092652'], dtype=object)

In [15]:
len(df["portno"].unique())

3867

In [16]:
df.mean()

In [ ]:
df["portno"].value_counts()

In [7]:
df[df["portno"]=="2998623"]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
346,2998623,2020/11/30,352,2021/01/08,0.00,1303.0,1.594570e+03,Ginnie Mae 2 20-JAN-2031 003028,36202DLH
347,2998623,2020/11/30,352,2021/01/08,0.00,3702.0,3.726940e+03,Gvt Ntl Mrtg Asn 15-Jun-2026 422949,36206VZN
348,2998623,2020/11/30,352,2021/01/08,0.00,5645.0,5.665600e+03,Fannie Mae 01-Jul-2032 642656,31390C5R
349,2998623,2020/11/30,352,2021/01/08,0.00,1.0,1.070000e+00,Fannie Mae 01-MAR-2021 866003 Pd Down,31409BDG
350,2998623,2020/11/30,352,2021/01/08,0.00,0.0,6.370000e+00,VIATRIS INC,92556V10

In [8]:
df[
    df["portno"].isin(["3092616","2998623"])
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
347,2998623,2020/11/30,352,2021/01/08,0.00,3702.0,3.726940e+03,Gvt Ntl Mrtg Asn 15-Jun-2026 422949,36206VZN
348,2998623,2020/11/30,352,2021/01/08,0.00,5645.0,5.665600e+03,Fannie Mae 01-Jul-2032 642656,31390C5R
349,2998623,2020/11/30,352,2021/01/08,0.00,1.0,1.070000e+00,Fannie Mae 01-MAR-2021 866003 Pd Down,31409BDG
350,2998623,2020/11/30,352,2021/01/08,0.00,0.0,6.370000e+00,VIATRIS INC,92556V10
999569,3092616,2020/09/30,259,2021/01/08,0.07,31986.0,6.994347e+05,SABIC Agri-Nutrients Co ORD,M8T36M10

In [10]:
portno_filter=df["portno"].isin(["3092616","2998623"])
percent_gl_2_filter =df["percent_tna"]>2

In [11]:
df[
    portno_filter&percent_gl_2_filter
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10

In [13]:
percent_lt_1_filter=df["percent_tna"]<1

In [14]:
df[
    portno_filter & (percent_gl_2_filter | percent_lt_1_filter)
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
32,2998623,2020/11/30,33,2021/01/08,0.97,2350480.0,1.180881e+08,COMCAST CORP NEW,20030N10
33,2998623,2020/11/30,34,2021/01/08,0.94,724928.0,1.148431e+08,N X P SEMICONDUCTORS N V,N6596X10
34,2998623,2020/11/30,35,2021/01/08,0.94,3616628.0,1.138514e+08,US FOODS HOLDING CORP,91200810
35,2998623,2020/11/30,36,2021/01/08,0.91,2015089.0,1.109710e+08,CITIGROUP INC,17296742
...,...,...,...,...,...,...,...,...,...
347,2998623,2020/11/30,352,2021/01/08,0.00,3702.0,3.726940e+03,Gvt Ntl Mrtg Asn 15-Jun-2026 422949,36206VZN
348,2998623,2020/11/30,352,2021/01/08,0.00,5645.0,5.665600e+03,Fannie Mae 01-Jul-2032 642656,31390C5R
349,2998623,2020/11/30,352,2021/01/08,0.00,1.0,1.070000e+00,Fannie Mae 01-MAR-2021 866003 Pd Down,31409BDG
350,2998623,2020/11/30,352,2021/01/08,0.00,0.0,6.370000e+00,VIATRIS INC,92556V10
999569,3092616,2020/09/30,259,2021/01/08,0.07,31986.0,6.994347e+05,SABIC Agri-Nutrients Co ORD,M8T36M10

In [15]:
df[
    ~portno_filter & (percent_gl_2_filter | percent_lt_1_filter)
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
351,2998638,2020/11/30,1,2021/01/08,3.74,5749744.0,3.166384e+08,CITIGROUP INC,17296742
352,2998638,2020/11/30,2,2021/01/08,3.46,10415081.0,2.932887e+08,BANK OF AMERICA CORP,06050510
353,2998638,2020/11/30,3,2021/01/08,2.93,3276013.0,2.481580e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
354,2998638,2020/11/30,4,2021/01/08,2.49,4811388.0,2.109312e+08,GENERAL MOTORS CO,37045V10
355,2998638,2020/11/30,5,2021/01/08,2.48,3397079.0,2.100414e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10

In [16]:
df.groupby("portno")

In [17]:
df.groupby("portno").size()

portno
2998623    351
2998638     77
2998809     70
2998821     54
2999052      2
          ...
309260a      2
309260d    514
3092616      1
3092619    403
3092652     27
Length: 3867, dtype: int64

In [19]:
df.groupby("portno").sum()["market_val"]

portno
2998623    1.213476e+10
2998638    8.460393e+09
2998809    1.989293e+09
2998821    1.721541e+09
2999052    8.558093e+05
               ...
309260a    1.133305e+06
309260d    1.738378e+08
3092616    6.994347e+05
3092619    5.070766e+06
3092652    1.563519e+08
Name: market_val, Length: 3867, dtype: float64

In [21]:
df.groupby("portno").sum(numeric_only=True)

         security_rank  percent_tna    nbr_shares    market_val
portno
2998623          61888        99.79  3.817768e+09  1.213476e+10
2998638           3021        99.89  4.856478e+08  8.460393e+09
2998809           2485        99.50  1.312320e+08  1.989293e+09
2998821           1485       100.01  7.659816e+07  1.721541e+09
2999052            634         0.08  8.600000e+05  8.558093e+05
...                ...          ...           ...           ...
309260a            439         0.10  5.265000e+06  1.133305e+06
309260d         133030       100.79 -1.411982e+10  1.738378e+08
3092616            259         0.07  3.198600e+04  6.994347e+05
3092619          81372       100.06  5.315248e+06  5.070766e+06
3092652            377       118.57  1.346848e+08  1.563519e+08

[3867 rows x 4 columns]

In [23]:
df.groupby("portno").get_group("2998623")

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
346,2998623,2020/11/30,352,2021/01/08,0.00,1303.0,1.594570e+03,Ginnie Mae 2 20-JAN-2031 003028,36202DLH
347,2998623,2020/11/30,352,2021/01/08,0.00,3702.0,3.726940e+03,Gvt Ntl Mrtg Asn 15-Jun-2026 422949,36206VZN
348,2998623,2020/11/30,352,2021/01/08,0.00,5645.0,5.665600e+03,Fannie Mae 01-Jul-2032 642656,31390C5R
349,2998623,2020/11/30,352,2021/01/08,0.00,1.0,1.070000e+00,Fannie Mae 01-MAR-2021 866003 Pd Down,31409BDG
350,2998623,2020/11/30,352,2021/01/08,0.00,0.0,6.370000e+00,VIATRIS INC,92556V10

In [24]:
df.groupby(["portno","security_name"]).size()

portno   security_name
2998623  10YR TNotes MAR1                    1
         5YR T NOTES MAR1                    1
         ALCON INC                           1
         AMERICAN INTERNATIONAL GROUP INC    1
         AMG Capital Trust II                1
                                            ..
3092652  TAKE TWO INTERACTIVE SOFTWR INC     1
         USD Cash                            1
         WORLD WRESTLING ENTMT INC           1
         ZSCALER INC                         1
         ZYNGA INC                           1
Length: 980492, dtype: int64

In [25]:
df.groupby(["portno","eff_dt"])["percent_tna"].sum()

portno   eff_dt
2998623  2021/01/08     99.79
2998638  2021/01/08     99.89
2998809  2021/01/08     99.50
2998821  2021/01/08    100.01
2999052  2021/01/08      0.08
                        ...
309260a  2021/01/08      0.10
309260d  2021/01/08    100.79
3092616  2021/01/08      0.07
3092619  2021/01/08    100.06
3092652  2021/01/08    118.57
Name: percent_tna, Length: 3867, dtype: float64

In [26]:
df[df["portno"]=="2998623"].groupby("report_dt").sum().sort_values("percent_tna",ascending=False)

,portno,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
report_dt,,,,,,,,
2020/11/30,2998623299862329986232998623299862329986232998...,61888,2021/01/082021/01/082021/01/082021/01/082021/0...,99.79,3.817768e+09,1.213476e+10,GENERAL MOTORS COCOGNIZANT TECHNOLOGY SOLS COR...,37045V1019244610617446447181721022052L1038141G...

In [34]:
def keep_digit(input_str: str)->int:
    """convert 推：15 to 15"""
    return int(input_str.split(": ")[1])

In [35]:
df["推"].apply(keep_digit)

KeyError: '推'

In [36]:
df

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
999995,3092652,2020/12/31,23,2021/01/08,0.50,8556.0,6.633467e+05,CLOUDFLARE INC,18915M10
999996,3092652,2020/12/31,24,2021/01/08,0.50,2208.0,6.610973e+05,AUTODESK INC,05276910
999997,3092652,2020/12/31,25,2021/01/08,0.50,13662.0,6.609676e+05,WORLD WRESTLING ENTMT INC,98156Q10
999998,3092652,2020/12/31,26,2021/01/08,0.50,1794.0,6.589003e+05,POOL CORP,73278L10
999999,3092652,2020/12/31,27,2021/01/08,0.50,10902.0,6.554282e+05,INTERACTIVE BROKERS GROUP INC,45841N10